<% if flash[:shorten_link] %>
  <div class="row center">
    <div class="col s12">
    <h2 class="header" id='fe_text'><%= "#{root_url}#{flash[:shorten_link]['ugly_path']}" %></h2>
    <button class="btn waves-effect waves-light" data-clipboard-target='fe_text' id='d_clip_button'>Copy
      <i class="material-icons right">done_all</i>
    </button>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= sanitize flash[:shorten_link]['title'] %></span>
          <p><%= sanitize flash[:shorten_link]['url'] %></p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light" href="<%= "#{root_url}#{flash[:shorten_link]['ugly_path']}" %>+"><i class="material-icons left">equalizer</i>Stats</a>
        </div>
      </div>
    </div>
  </div>
<% end %>
